In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv (r"C:\Users\FARUQ\Downloads\archive\Amazon Sale Report.csv")
df.dtypes

C:\Users\FARUQ\AppData\Local\Temp\ipykernel_5080\2565098952.py:6: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv (r"C:\Users\FARUQ\Downloads\archive\Amazon Sale Report.csv")

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22            object
dtype: object

# Audit Data

1. Jumlah Baris dan Kolom
Hitung jumlah baris dan kolom dalam dataset.
2. Rentang Tanggal
Tentukan rentang tanggal yang terdapat dalam kolom 'Date'. Tanggal pertama dan terakhir.
3. Jumlah Order Unik
Hitung jumlah order unik berdasarkan kolom 'Order ID'.
4. Proporsi Nilai Hilang Per Kolom
Hitung proporsi nilai hilang (missing values) untuk setiap kolom dalam dataset dan tampilkan dalam bentuk persentase.

## 1. Jumlah Baris dan Kolom

In [53]:
baris = df.shape[0]
kolom = df.shape[1]
print (baris, kolom)

#jumlah baris :  128975  jumlah kolom : 24

128975 24

## 2. Rentang Tanggal

In [28]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y-%m-%d')
range_tanggal = df['Date'].max() - df['Date'].min()
print(range_tanggal)

# Rentang tanggal : 90 days

90 days 00:00:00

## 3. Jumlah Order Unik

In [36]:
df['Order ID'].unique()

array(['405-8078784-5731545', '171-9198151-1101146',
       '404-0687676-7273146', ..., '407-9547469-3152358',
       '402-6184140-0545956', '408-7436540-8728312'], dtype=object)

In [54]:
unik = df['Order ID'].nunique()
print(unik)

#Jumlah order unik adalah 120378

120378

## 4. Proporsi Nilai Hilang Per Kolom

In [47]:
nilai_hilang = df.isnull().mean()*100
print (nilai_hilang)

# dibawah ini adalah proporsi missing value per kolom

index                 0.000000
Order ID              0.000000
Date                  0.000000
Status                0.000000
Fulfilment            0.000000
Sales Channel         0.000000
ship-service-level    0.000000
Style                 0.000000
SKU                   0.000000
Category              0.000000
Size                  0.000000
ASIN                  0.000000
Courier Status        0.053282
Qty                   0.000000
currency              0.060438
Amount                0.060438
ship-city             0.000256
ship-state            0.000256
ship-postal-code      0.000256
ship-country          0.000256
promotion-ids         0.381105
B2B                   0.000000
fulfilled-by          0.695468
Unnamed: 22           0.380306
dtype: float64

In [52]:
total_nilai_hilang = df.isnull().sum().sum()
rata2_nilai_hilang = df.isnull().mean().mean()*100
print (total_nilai_hilang,' ',rata2_nilai_hilang)

#total nilai hilang :210495
#rata2 nilai hilang : 6.800251986819152%

210495   6.800251986819152

## Hasil

In [66]:
print (
    'Nomer 1', 
    '\nJumlah Baris : ', baris,
    '\nJumlah Kolom : ',kolom,
    '\n\nNomer 2',
    '\nRentang Tanggal : ',range_tanggal,
    '\n\nNomer 3',
    '\nJumlah Order Unik : ',unik,
    '\n\nNomer 4',
    '\nJumlah Nilai Hilang : ',total_nilai_hilang,
    '\nRata-rata Nilai Hilang : ', rata2_nilai_hilang,'%',
)

Nomer 1
Jumlah Baris :  128975
Jumlah Kolom :  24

Nomer 2
Rentang Tanggal :  90 days 00:00:00

Nomer 3
Jumlah Order Unik :  120378

Nomer 4
Jumlah Nilai Hilang :  210495
Rata-rata Nilai Hilang :  6.800251986819152 %